{% extends "base.html.twig" %}

{% block body %}

<div class="container is-fullwidth">

    {{ form_start(form)}}

    <div class="field">
        <div class="control">
            {{ form_label(form, 'Titre', {"label_attr": {"class" : "label"}}) }}
            {{ form_widget(form.titre, {"attr": {"class" : "input is-medium is-success"}}) }}
        </div>
        <p class="help is-success">Titre requis</p>
    </div>

    <div class="field">
        <div class="control">
            {{ form_label(form, 'Sous-titre', {"label_attr": {"class" : "label"}}) }}
            {{ form_widget(form.sous_titre, {"attr" : {"class" : "input is-medium"}}) }}
        </div>
    </div>

    <div class="field">
        <div class="control">
            {{ form_label(form, 'Ingrédients', {"label_attr": {"class" : "label"}}) }}
            {{ form_widget(form.ingredients, {"attr" : {"class" : "input is-medium is-danger", "style" : "resize:vertical"}}) }}
        </div>
        <p class="help is-danger">Veuillez délimiter chaque ingrédient par une ","</p>
    </div>

    <button class="button has-background-success-light">Envoyer</button>
    {{ form_end(form)}}

</div>


{% endblock %}